.book {
    width: 300px;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--bg-color);
    padding: .5rem;
}

.b-meta {
    display: flex;
    flex-direction: column;
}

.a-date > span {
    display: block;
    margin: .5rem 0;
}

.comments {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.comment-item {
    margin: 1rem .5rem;
    border-bottom: 1px solid rgba(0, 0, 0, .3);
}

.comment-user > span {
    font-weight: 600;
    font-style: italic;
}

.comment-item > p {
    color: rgb(26, 41, 26);
    padding: .2rem 0;
}

.comment-form {
    margin: 1rem 0;
}

.comment-form > form {
    display: flex;
    flex-direction: column;
}

.comment-form > form > label,
.comment-form > form > textarea,
.comment-form > form > input {
    margin: .5rem 0;
    padding: .5rem 1rem;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
}

input[type="submit"] {
    cursor: pointer;
    font-weight: 500;
}

@media screen and (max-width: 550px) {
    .book {
        width:100%;
        padding: 1rem;
    }

    .comment-form > form {
        width: 100%;
    }

    .b-icon {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .b-icon > img {
        width: 120px;
        object-fit: cover;
        margin: 1rem;
    }

    .b-meta {
        text-align: center;
    }
}