footer {
    background: var(--bg-color);
    height: 75px;
    text-align: center;
    color: white;
    font-size: .9rem;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
  }