.pagination {
    width: fit-content;
    margin: 1rem auto;
  }
  
  .pagination-links {
    border: 1px solid var(--bg-color);
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
  }
  
  nav.pagination-links > a {
    font-size: 1rem;
    text-decoration: none;
    border-right: 1px solid var(--bg-color);
    padding: .5rem .8rem;
    display: inline-block;
    height: auto;
    color: var(--bg-color);
    font-weight: 500;
  }

  nav.pagination-links > a.active {
    color: white;
    background: var(--bg-color);
  }
  
  nav.pagination-links > a:hover {
    text-decoration: underline;
  }
  
  nav.pagination-links > a:last-child {
    border-right: none;
  }

  @media screen and (max-width:550px) {
    .pagination {
      width: 100%;
      margin: 1.5rem auto;
    }

    .pagination-links {
      display: flex;
      flex-wrap: wrap;
    }

    nav.pagination-links > a {
      font-size: 1.2rem;
      border: 1px solid var(--bg-color);
      padding: .8rem 1rem;
      margin-bottom: .2rem;
    }

    nav.pagination-links > a:last-child {
      border-right: 1px solid var(--bg-color);
    }
  }