:root {
  --bg-color: #ee6419;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  position: relative;
  min-height: calc(100vh - 147px);
}

.section {
  width: 800px;
  margin: 0 auto;
}

.app-title {
  margin-top: 1rem;
}

.app-title > h1 {
  text-align: center;
  font-weight: 500;
}

@media screen and (max-width: 700px) {
  main {
    padding: .5rem 1rem;
  }  
}